<div class="container">
  <p>Reverse Data</p>
  <div class="row">
    <div class="col">
      <input type="text" maxlength="20" [(ngModel)]="dataToReverse" />
    </div>
    <div class="col">
      <button type="button" class="btn btn-success" [disabled]="!dataToReverse" (click)="onClickReverese(dataToReverse)">Reverse</button>
    </div>
  </div>
  <p>Reversed Data: {{reversedData}}</p>
</div>
<div class="container">
  <p>Weather Details</p>
  <div class="row">
    <div class="col">
      <input type="number" maxlength="20" [(ngModel)]="zipCode" />
    </div>
    <div class="col">
      <button type="button" class="btn btn-success" [disabled]="!zipCode" (click)="onClickGetWheatherDetails(zipCode)">Submit</button>
    </div>
  </div>
  <p>Weather Details: {{weatherData}}</p>
</div>